/* Global Style Sheet */

body {
  margin: 0;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}

/* CSS apply to Portfolio Page */

.userProfilePicture {
  border-radius: 50%;
}
.schoolLogo {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

