/* Global Style Sheet */

body {
  margin: 0;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}

/* CSS Apply to Home Page */

.circles-sidebar {
  margin-top: 16px;
}
.sidebar-heading {
  margin: 8px;
}
.profile-name-sidebar {
  text-align: center; 
  font-weight: bold;
  margin: 0%;
}
.sponsor-image{
  margin: 12px;
}
.sponsored-text{
  margin: 0%;
  color: grey;
}

/* CSS apply to Portfolio Page */

.userProfilePicture {
  border-radius: 50%;
  margin: 2px;
}
.schoolLogo {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

